body {
    height: 100vh;
    margin: 0;
    padding: 0;
}

#root {
    width: 100%;
    height: 100%;
}

.media {
    --bg: url("../images/star.jpg") no-repeat center/cover;
    background: var(--bg);
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 100%;
    color: #fff;
    margin: 0;
}

.media h1 {
     width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8vw;
    font-family: '新細明體', 'sans-serif';
    -webkit-text-stroke: 1px #fff;
    background: var(--bg);
    -webkit-background-clip: text;
    color: transparent;
    margin: 0;
}

/* 小屏设备 */
@media (max-width: 600px) {
    .media h1 {
        display: none;
    }

}


/* 中等屏幕设备 */
@media (min-width: 601px) and (max-width: 1024px) {
    .media{



        h1{
            font-size: 10vw;
            writing-mode: vertical-lr;
        }
    }

}

/* 大屏设备 */
@media (min-width: 1025px) {
    .media h1 {
        font-size: 8vw; /* 在大屏幕上保持较大的字体尺寸 */
    }
}
